.videoCard {
    color: white;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms ease-out;
}

.videoCard:hover {
    transform: scale(1.09);
}

.videoCard > img {
    height: 300px;
    object-fit: contain;
    width: 500px;
}

.videoCard__stats {
    display: none;
}

.videoCard:hover > .videoCard__stats {
    display: inline;
}

.videoCard > h2 {
    padding-top: 10px;
}

.rokas {
    white-space: nowrap;
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}






















